body {
  background: teal;
  color: white;
  font-family: monospace;
  font-weight: bolder;
}

form {
  width: 15rem;
  height: 10rem;
  background: white;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  /*  height: 1.3rem;  */
  width: 80%;
  padding: .7rem;
  font-family: monospace;
  border: 1px solid none;
  outline: none;
  transition: all .2s ease-in;
}

input:focus {
  background: #848484;
  border: 1px solid black;
  color: white;
}

input:focus::placeholder {
  color: white;
}

.display-name {
  /* height: 2rem;*/
  width: 80%;
  padding: .7rem;
  background: teal;
  color: white;
  border-radius: .4rem;
  text-align: center
}